// - Mobile: 375px
// - Desktop: 1440px
$paleViolet: hsl(276, 100%,81%);
$moderateViolet: hsl(276, 55%, 52%);
$desaturatedViolet: hsl(271, 15%, 43%);
$grey: hsl(206, 6%, 79%);
$darkViolet: hsl(271, 36%, 24%);
$greyViolet: hsl(270, 7%, 64%);

$white: hsl(0, 0%, 100%);
$whiteViolet: hsl(270, 20%, 96%);
$veryViolet: hsl(271, 36%, 24%);
$magenta: hsl(289, 100%, 72%);

$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

$size: 16px;
$normal: 400;
$semi: 500;
$bold: 700;
