* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

body {
  background-color: white;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -80px;
  top: 0;
  height: 75vh;
  width: 500px;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(195.99deg, #E942FF -26.29%, #8838FF 127.98%);
}

body::before {
  content: "";
  z-index: -1;
  position: absolute;
  right: -130px;
  top: 200px;
  height: 75vh;
  width: 500px;
  border-radius: 50% 50% 0 0;
  background: #f5f3f7;
}

main {
  width: 77vw;
  height: 83vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .text {
  margin-left: 20px;
}

main .text h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

main .text p {
  line-height: 27px;
  letter-spacing: 1px;
  color: #333;
}

main .phone {
  background-color: white;
  width: 400px;
  height: 97%;
  border-radius: 2.5rem;
  position: relative;
  margin-left: 120px;
  -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .phone .fone {
  position: absolute;
  z-index: 50;
  top: 5px;
}

main .phone .display {
  position: relative;
  background-color: #f1f1f1;
  width: 93%;
  height: 95%;
  border-radius: 2rem;
}

main .phone .display .top {
  height: 90px;
  width: 100%;
  background: linear-gradient(195.99deg, #E942FF -26.29%, #8838FF 127.98%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .phone .display .top .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .phone .display .top .back {
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
}

main .phone .display .top .img {
  height: 44px;
  width: 44px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-left: 5px;
}

main .phone .display .top .img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

main .phone .display .top .info {
  margin-left: 30px;
  margin-top: 10px;
}

main .phone .display .top .info h3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

main .phone .display .top .info p {
  color: #c6cacd;
  font-size: 14px;
  font-weight: 400;
}

main .phone .display .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .phone .display .message section {
  max-width: 220px;
  margin: 4px;
  margin-top: 6px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(146, 65, 200, 0.2);
  border-radius: 15px;
  color: #3e2753;
}

main .phone .display .message #right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: white;
  margin-top: 0;
}

main .phone .display .message #photos {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .phone .display .message #photos section {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
}

main .phone .display .message #photos section img {
  background-size: cover;
  max-height: 50px;
  width: 60px;
}
/*# sourceMappingURL=style.css.map */