
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #F2B5CC;
    /* #3364DF #E84C78 #FBFBFB #CAD9AE*/
}

h1 {
    margin-top: 50px;
    font-size: 1.5rem;
}

.container {
    margin-top: 50px;
    padding: 1rem;
    border-radius: 2rem;
    
    width: 70vw;

    background-color: #f1f1f1;

    display: flex;
    justify-content: space-around;
    align-items: space-around;
    
}

.b {
    background-color: #333;
}

.white {
    background: linear-gradient(143.9deg, #FFFFFF 10%, #EEEEEE 119.53%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.blue {
    background: linear-gradient(127.02deg, #5E88F0 0%, #3364DF 100%);
    width: 90px;
    height: 90px;
}

.green {
    background: linear-gradient(127.02deg, #CAD9AE 0%, #93AD61 100%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.pink {
    background: linear-gradient(127.02deg, #FF96B3 0%, #E84C78 100%);
    width: 90px;
    height: 90px;
}

.transform2D {
    transform: scale(.4, .5) rotate(45deg);
}

.transform2D2{
    transform: skew(30deg, 45deg) scale(.6, .5);
}

.transition {
    transition: width 1s ease, height 1s ease;
}

.transition:hover {
    width: 120px;
    height: 120px;
}

.transitionB {
    transition: all 1s ease;
    transition-delay: 1s; 
}

.transitionB:hover {
    width: 120px;
    height: 120px;
    border-radius: 0;
}

.transitionC {
    transition: all 1s ease; 
}

.transitionC:hover {
    width: 120px;
    height: 120px;
    transform: skew(45deg)
}

.transitionD {
    transition: all 1s ease; 
}

.transitionD:hover {
    width: 120px;
    height: 120px;
    transform: skew(-45deg);
    border-radius: 0;
}