@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;

    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;

    background-color: #F8CB47;
    transition: .1s;

}

.containerActive {
    background-color: #eee;
}

.hamburguer {
    cursor: pointer;
}

.line {
        background-color: #eee;
    
        border-radius: .2rem;
        border: 1px solid transparent;
    
        height: 40px;
        width: 40px;
        padding: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: .1s;
        cursor: pointer;

}

.line::after {
    content: '';

    display: block;
    
    width: 1.2rem;
    height: 2px;
    
    border-radius: .2rem;
    
    background: black;
    
    box-shadow:  0 6px currentColor, 0 -6px currentColor;

    transition: .2s;
}

.ex {
    background: #F8CB47;
}

.ex::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow:  0 8px currentColor, 0 -8px currentColor;
}

.content {
    position: absolute;

    z-index: 1;
    height: 40vh;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: 0.3s ease;
    display: none;

}

.content li {
    
    list-style: none;

}

.content li a {
    text-decoration: none;
    color: black;

    font-family: 'Roboto', sans-serif;

    height: auto;
}

.menu-bg {
    z-index: 1;

    width: 0;
    height: 0;

    background: #eee;

    transition: .3s ease;
}