body {
    margin: 0;
    padding: 0;

    background: #1D1B38;
}

.container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.head {
    position: absolute;

    height: 10px;
    width: 10px;

    border-bottom-left-radius: 20px;
    border-bottom: 200px solid #ecbcb4;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;

    transform: rotate(150deg);

    z-index: 1;
}

.head::before {
    content: "";
    position: absolute;

    width: 120px;
    height: 200px;

    top: 100px;
    left: -36px;

    border: solid 5px #a1665e;
    border-color: #a1665e transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
}

.head::after {
    content: "";
    position: absolute;

    height: 20px;
    width: 34px;

    background-color: #ecbcb4;

    border: 2px solid #a1665e;
    border-bottom: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    transform: rotate(-51deg);

    top: 110px;
    left: -121px;
}

.eye {
    position: absolute;

    height: 70px;
    width: 80px;

    background: white;

    border-radius: 50%;
    border: 2px solid black;

    transform: rotate(175deg);

    top: 170px;
    left: -65px;
}

.eye::before {
    content: "";
    position: absolute;

    height: 22px;
    width: 26px;

    border-radius: 50%;

    background: #1d1b38;

    top: 28px;
    left: 10px;

    transform: rotate(-10deg);
}

.eye::after {
    content: "";
    position: absolute;

    height: 8px;
    width: 10px;

    border-radius: 50%;
    background: #fff;

    top: 35px;
    left: 24px;

    transform: rotate(-10deg);
    box-shadow: 100px 36px 0 -1px #a1665e,
    70px 36px 0 -1px #a1665e,
    85px 50px 0 -1px #a1665e;
}


.yee {
    position: fixed;

    height: 70px;
    width: 80px;

    background: white;

    border-radius: 50%;
    border: 2px solid black;

    transform: rotate(175deg);

    top: 200px;
    left: -15px;

    z-index: -1;
}

.yee::before {
    content: "";
    position: absolute;

    height: 22px;
    width: 26px;

    border-radius: 50%;

    background: #1d1b38;

    top: 28px;
    left: 10px;

    transform: rotate(-10deg);
}

.yee::after {
    content: "";
    position: absolute;

    height: 8px;
    width: 10px;

    border-radius: 50%;
    background: #fff;

    top: 35px;
    left: 24px;

    transform: rotate(-10deg);
}

.container .hair {
    position: relative;
}

.container .hair>div:nth-child(1) {
    position: absolute;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 20px solid red;
    border-radius: 50px 40px 0 0;
    
    top: -45px;
    right: -80px;

    transform: rotate(-235deg);

    z-index: -1;
}

.container .hair>div:nth-child(2) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 27px solid red;
    border-radius: 50px 33px 0 0;
    
    top: -15px;
    right: -110px;

    transform: rotate(-5deg);

    z-index: -1;
}

.container .hair>div:nth-child(3) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 20px solid red;
    border-radius: 50px 40px 0 0;
    
    top: -110px;
    right: -60px;

    transform: rotate(-290deg);

    z-index: -1;
}

.container .hair>div:nth-child(4) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 27px solid red;
    border-radius: 60px 33px 0 0;
    
    top: -145px;
    right: -50px;

    transform: rotate(-325deg);

    z-index: -1;
}

.container .hair>div:nth-child(5) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 20px solid red;
    border-radius: 50px 33px 1px 0;
    
    top: -155px;
    right: -90px;

    transform: rotate(20deg);

    z-index: -1;

}

.container .hair>div:nth-child(6) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 100px;

    border-top: 20px solid red;
    border-radius: 50% 50px 0 0;
    
    top: -220px;
    right: -70px;

    transform: rotate(49deg);

    z-index: -1;

}

.container .hair>div:nth-child(7) {
    position: relative;
    background: transparent;

    height: 30px;
    width: 80px;

    border-top: 20px solid red;
    border-radius: 50px 50% 0 0;
    
    top: -280px;
    right: -65px;

    transform: rotate(5deg);

    z-index: -1;
}